.slick-slide {
  transform: scale(0.8);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-center {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
